@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive; */

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.font-nunito{
  font-family: 'Nunito', sans-serif;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}
.font-righteous{
  font-family: 'Righteous', cursive;
}

.noise {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("/assets/static.gif");
  background-repeat: repeat;
  opacity: .04;
  display: block !important;
}

.particle-wrapper{
  position: absolute;
    /* top: -108px; */
    top: 0px;
    /* z-index: -75; */
    width: 100%;
    height: 310px;
    left: 0;
}
