@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive; */
/* font-family: 'Sen', sans-serif; */

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.font-nunito{
  font-family: 'Nunito', sans-serif;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}
.font-righteous{
  font-family: 'Righteous', cursive;
}
.font-sen{
  font-family: 'Sen', sans-serif;
}

.noise::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: .05;
  z-index: 1000;
  pointer-events: none;
  background: url("/assets/static.gif");
}


img.img-project {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.section-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.container-project {
  display: flex;
  flex-wrap: nowrap;
  width: 300%;
  height: 100vh;
}
